{% extends 'base.html.twig' %}

{% block title %}Input Rates{% endblock %}

{% block body %}
 <div class="rates-box">
        <div class="form-container">
            <h2>Set Rates</h2>
            {{ form_start(rateForm.peakRate) }}
                <div class="form-group">
                    {{ form_errors(rateForm.peakRate, {'attr': {'class': 'form-error'}}) }}
                    {{ form_label(rateForm.peakRate) }}
                    {{ form_widget(rateForm.peakRate) }}
                </div>
                <div class="form-group">
                    {{ form_errors(rateForm.offPeakRate, {'attr': {'class': 'form-error'}}) }}
                    {{ form_label(rateForm.offPeakRate) }}
                    {{ form_widget(rateForm.offPeakRate) }}
                </div>

                <button type="submit" class="btn btn-primary">Submit and Calculate Bills</button>
            {{ form_end(rateForm) }}
        </div>
    </div>


{% endblock %}
