{% extends 'base.html.twig' %}

{% block title %}Input Rates{% endblock %}

{% block body %}
 <div class="rates-box">
        <div class="form-container">
            <h2>Set Rates</h2>
            {{ form_start(rateForm) }}
                {{ form_row(rateForm.peakRate) }}
                {{ form_row(rateForm.offPeakRate) }}

                <button class="button" type="submit">Submit Rates</button>
            {{ form_end(rateForm) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
                <a href="{{ path('calculate_bills') }}" class="button">Click here to calculate bills</a>
            {% endfor %}
        </div>
    </div>


{% endblock %}
